<ion-content class="dashboard">

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="dashboard-header">
    <ion-row>
      <ion-col size="9" class="ion-float-left">
        <p>{{todayDay}}
          <strong>{{todayMonth}}</strong>
        </p>
        <!-- <p><strong>Week 10</strong></p> -->
      </ion-col>
    </ion-row>
  </div>

  <div class="dashboard-cards">
    <ion-row>

      <ion-col>
        <ion-card style="background-color: white; position: relative;" (click)="onWalkCardClicked($event)">

          <div class="loading-screen-walk" *ngIf="loadingWalk"></div>

          <ion-card-header>
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>Walk</ion-card-subtitle>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="walk" class="card-icon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content style="padding: 0px; position: unset">
              <ion-progress-bar value="{{currentSteps/10000}}" buffer="{{1 - currentSteps/10000}}" style="margin-top: 3vh;"></ion-progress-bar>
              <div style="margin-top: 2vh; margin-bottom: 1vh;">
                <h1> {{ currentSteps }} </h1>
                <h5>Steps</h5>
              </div>
              <div class="update-time-walk">
                  <p>{{ lastUpdateSteps?.startTime }}</p>
                  <hr style="background-color: white; width: 65%;">
                  <p>{{ lastUpdateSteps?.endTime }}</p>
              </div>
          </ion-card-content>


        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card style="background-color: white;" (click)="onDistanceCardClicked()">
          <div class="loading-screen-distance" *ngIf="loadingDistance"></div>
          <ion-card-header>
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>Distance (meters)</ion-card-subtitle>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="map" class="card-icon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <div class="circle-container">
              <div class="workout">
                <div class="circle-container">
                  <circle-progress [percent]="[currentDistance] / 5000 * 100" [radius]="24" [outerStrokeWidth]="6" [innerStrokeWidth]="3"
                    [outerStrokeColor]="'#3881ff'" [innerStrokeColor]="'#d8e6ff'" [animation]="true"
                    [animationDuration]="300" [renderOnClick]="false" [responsive]="true" [subtitle]='[currentDistance]'
                    [titleFontSize]="8" [unitsFontSize]="6" [subtitleFontSize]="6"></circle-progress>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card style="background-color: white; position: relative;" (click)="onWorkoutCardClicked()">
          <div class="loading-screen-workout" *ngIf="loadingWorkout"></div>
          <ion-card-header>
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>Running</ion-card-subtitle>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="flame" class="card-icon" style="color: #e25822;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content style="position: relative; padding: 0px; height: 100%;">
            <div class="workout-content-up">
              <div class="workout" style="margin-top: 3vh;">
                <h1>{{ currentWorkout }}</h1>
                <h5>Running steps</h5>
              </div>
            </div>
            <div class="workout-content-down">
                <h5>Calories burnt</h5>
                <h1>{{ workoutCalories }}</h1>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card style="background-color: #dd5152;" (click)="onHRCardClicked()">
          <div class="loading-screen-hr" *ngIf="loadingHR"></div>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <ion-card-subtitle class="white">Heart Rate</ion-card-subtitle>
              </ion-col>
              <ion-col>
                <img src="../../assets/gif/heart.gif" alt="heart"
                  style="height: auto; max-width: 55%; float: right; margin-top: 10px;">
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="padding: 0px;">
            <div class="circle-container">
              <div class="workout white" style="margin-top: 3vh;">
                <h1>{{ currentHR }}</h1>
                <h5>bpm</h5>
              </div>
            </div>
            <p class="update-time-hr">{{ lastUpdateHR }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card style="background-color: white;" (click)="onPointsCardClicked()">
          <div class="loading-screen-points" *ngIf="loadingPoints"></div>
          <ion-card-header>
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>Points</ion-card-subtitle>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="podium" class="card-icon" style="color: #3880ff;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="margin-top: 2vh;">
            <h1>{{ currentPoints }}</h1>
            <h2 style="margin-top: 3vh;" *ngIf = "currentPoints < 200">Always remember: You can do more!</h2>
            <h2 style="margin-top: 3vh;" *ngIf = "currentPoints >= 200 && currentPoints < 700">You are on the going to conquer the world! Keep going!</h2>
            <h2 style="margin-top: 3vh;" *ngIf = "currentPoints >= 700 && currentPoints < 1500">Well done! Now outclass yourself</h2>
            <h2 style="margin-top: 3vh;" *ngIf = "currentPoints >= 1500">You are unstoppable! A fitness monster!</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color: white;" (click)="onResultsCardClicked()">
          <div class="loading-screen-results" *ngIf="loadingResults"></div>
          <ion-card-header>
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>Results</ion-card-subtitle>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="trophy" class="card-icon" style="color: gold;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="margin-top: 5vh;">
            <h1>0</h1>
            <h3>Achievements</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>