<ion-content class="achievements">
  <div class="achievements-cards">
      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>+10 points</ion-card-subtitle>
            <ion-card-title>First workout</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar value="0.5"></ion-progress-bar>
            <br>
            Good things need a start. Your first points for your first workout
          </ion-card-content>
        </ion-card>
      </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>+500 points</ion-card-subtitle>
          <ion-card-title>Top runner</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <br>
          Run a total of 15 kilometers
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>+100 points</ion-card-subtitle>
          <ion-card-title>Walk in the park</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-progress-bar value="0.8"></ion-progress-bar>
          <br>
          Take a walk for minimum 30 minutes everyday for one week
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>+500 points</ion-card-subtitle>
          <ion-card-title>Running enthusiast</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-progress-bar value="0.3"></ion-progress-bar>
          <br>
          Take a run at least 10 times in a month
        </ion-card-content>
      </ion-card>
    </ion-row>

  </div>
</ion-content>
