
<ion-content class="login-page">
  <ion-slides [options]="slideOpts" [pager]="true" #slides (ionSlideDidChange)="onSwipe()">
    <ion-slide>
      <h3>Exercise regularly and track your progress</h3>
      <ion-card class="login-card">
        <img class="login-card-img" src="../../assets/img/login2.gif" alt="login-img">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h3>Achieve your goals</h3>
      <ion-card class="login-card">
        <img class="login-card-img" src="../../assets/img/login1.gif" alt="login-img">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h3>Live your life healthier with us</h3>
      <ion-card class="login-card">
        <img class="login-card-img" src="../../assets/img/login3.gif" alt="login-img">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h3>Login</h3>
      <ion-card>
        <img class="login-img" src="../../assets/img/inFit-white.png" alt="inFit-logo">
        <ion-card-content style="background-color: white;">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>


  <ion-button expand="block" color="primary" class="login-btn" *ngIf = "isLastPage" (click)="onLoginClicked();">LOGIN</ion-button>
  <ion-button expand="block" color="dark" class="login-btn" *ngIf = "!isLastPage" (click)="onNextClicked();">Next</ion-button>
</ion-content>
