.login-page{ 
    --background: linear-gradient(to top, #ffffff, #f4f4f6, #e8e9ee, #dbdfe5, #cdd5dc);
    ion-slide{
        height: 80vh;
        display: block;

        h3{
            text-align: left;
            margin-left: 3vw;
        }
    }
    ion-card{
        ion-card-content{
            padding-bottom: 10vh;
            background-color: white;
        }
    }

    .login-btn{
        margin-top: 5vh;
    }

    .login-card-img{
        margin: auto;
    }

    ion-slides {
        --bullet-background: #737373;
        --bullet-background-active: black;
    }

    .login-card{
        background-color: #66cdcc;
        height: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}