<ion-header>
    <ion-toolbar>
      <ion-title>Frequently Asked Questions</ion-title>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/user/profile" routerDirection="back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="--background: linear-gradient(to top, #ffffff, #f4f4f6, #e8e9ee, #dbdfe5, #cdd5dc);">
  
      <ion-card class="carousel-card" style="background-color: #121149;">
        

  
        <img src="../../assets/img/notepad.png" alt="gym-shoes" style="width: 50%; margin: auto;">
      </ion-card>
  
  </ion-content>