<ion-content class="analytics">
  <ion-slides scrollbar="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #4286F4;" (click) = "getTotalPoints()">
        <div class="loading-screen-points" *ngIf="loadingTotalPoints"></div>
        <span><b>{{ totalPoints }}</b> <br> total points</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #3F77D0;" (click) = "getTotalDistance()">
        <div class="loading-screen-distance" *ngIf="loadingTotalDistance"></div>
        <span><b>{{ totalDistance }}</b> <br> total distance</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #3D68AD;" (click) = "getTotalSteps()">
        <div class="loading-screen-steps" *ngIf="loadingTotalSteps"></div>
        <span><b>{{ totalSteps }}</b> <br> total steps</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #3B598A;" (click) = "getTotalSteps()">
        <div class="loading-screen-workout" *ngIf="loadingTotalSteps"></div>
        <span><b>{{ totalRunningSteps }}</b> <br> total running steps</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #e25822" (click) = "getTotalSteps()">
        <div class="loading-screen-calories" *ngIf="loadingTotalSteps"></div>
        <span><b>{{ totalCalories }}</b> <br> total calories</span> 
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #dd5152;" (click) = "getAverageHR()">
        <div class="loading-screen-hr" *ngIf="loadingHR"></div>
        <span><b>{{ averageHR }}</b> <br> average heart rate</span> 
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-row>
    <ion-card style="width: 100%; background-color: white;">
      <ion-card-content>
        <canvas id="weeklyActivityChart" width="200" height="200">
        </canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row>
    <ion-card style="width: 100%; background-color: white;">
      <ion-card-content>
        <canvas id="budgetChart" width="200" height="200">
        </canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>



</ion-content>