.analytics{
    --background: linear-gradient(to top, #ffffff, #f4f4f6, #e8e9ee, #dbdfe5, #cdd5dc);
    ion-slides{
        height: 50vh;
    }

    .carousel-card{
        height: 60%;
        width: 100%;
        color: white;
    }

    ion-card{
        position: relative;
    }

    .loading-screen-workout{
        background: url('../../assets/gif/sport-6.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }
    
    .loading-screen-hr{
        background: url('../../assets/gif/sport-1.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }
    
    .loading-screen-distance{
        background: url('../../assets/gif/sport-6.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }
    
    .loading-screen-calories{
        background: url('../../assets/gif/sport-5.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }

    .loading-screen-steps{
        background: url('../../assets/gif/sport-5.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }
    
    .loading-screen-points{
        background: url('../../assets/gif/sport-1.gif');
        background-repeat: no-repeat;
        background-position: center; 
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
    }

}
