<ion-content class="analytics">
  <ion-slides scrollbar="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #273b7a;" (click) = "getTotalPoints()">
        <div class="loading-screen-points" *ngIf="loadingTotalPoints"></div>
        <span><h5><b>{{ totalPoints | thousandsSuffix : 2 }}</b></h5> Total Points</span>
        <img src="../../assets/img/whistle.png" alt="whistle">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #273b7a;" (click) = "getTotalSteps()">
        <div class="loading-screen-workout" *ngIf="loadingTotalSteps"></div>
        <span><h5><b>{{ totalRunningSteps | thousandsSuffix : 2 }}</b></h5> Total Running Steps</span>
        <img src="../../assets/img/dumbbell.png" alt="gym-shoes">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #662b5a;" (click) = "getTotalSteps()">
        <div class="loading-screen-steps" *ngIf="loadingTotalSteps"></div>
        <span><h5><b>{{ totalSteps | thousandsSuffix : 2 }}</b></h5> Total Steps</span>
        <img src="../../assets/img/gym-shoes.png" alt="trainers">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #c92f00;" (click) = "getTotalSteps()">
        <div class="loading-screen-calories" *ngIf="loadingTotalSteps"></div>
        <span><h5><b>{{ totalCalories | thousandsSuffix : 2 }}</b></h5> Total Workout Calories</span> 
        <img src="../../assets/img/proteins.png" alt="proteins">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #ff7f4f;" (click) = "getAverageHR()">
        <div class="loading-screen-hr" *ngIf="loadingHR"></div>
        <span><h5><b>{{ averageHR }} bpm</b></h5> Average HR</span> 
        <img src="../../assets/img/smartwatch.png" alt="smartwatch">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="carousel-card" style="background-color: #ffedb5; color: #121149" (click) = "getTotalDistance()">
        <div class="loading-screen-distance" *ngIf="loadingTotalDistance"></div>
        <span><h5><b>{{ totalDistance | thousandsSuffix : 2 }}</b></h5> Total Distance</span>
        <img src="../../assets/img/stopclock.png" alt="stopclock">
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-row>
    <ion-card style="width: 100%; background-color: white;">
      <ion-card-content>
        <canvas id="weeklyActivityChart" width="200" height="200">
        </canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row>
    <ion-card style="width: 100%; background-color: white;">
      <ion-card-content>
        <canvas id="HRChart" width="200" height="200">
        </canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row>
    <ion-card style="width: 100%; background-color: white;">
      <ion-card-content>
        <canvas id="budgetChart" width="200" height="200">
        </canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>



</ion-content>