<ion-content class="profile">
  <div class="profile-header">
    <ion-card>
      <ion-card-content>
        <div class="profile-avatar">
          <h1>{{ userName }}</h1>
        </div>
        <div class="profile-info">
          <ion-row>
            <ion-col size="4" style="border-right: 1px solid black;">
              <p class="info-bold">{{ age }}</p>
              <p>Years</p>
            </ion-col>
            <ion-col size="4" style="border-right: 1px solid black;">
              <p class="info-bold">{{ height }} m</p>
              <p>Height</p>
            </ion-col>
            <ion-col size="4">
              <p class="info-bold">{{ weight}} kg</p>
              <p>Weight</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="profile-list">
    <ion-card>
      <ion-list style="padding: 15px; width: 90vw;">
          <ion-item (click) = "onUserDetailsTapped()">
            <ion-label>User details</ion-label>
          </ion-item>
          <ion-item (click) = "onInsuranceDetailsTapped()">
            <ion-label>Insurance details</ion-label>
          </ion-item>
          <ion-item (click) = "onFAQTapped()">
            <ion-label>FAQs</ion-label>
          </ion-item>
          <ion-item (click) = "onWearableTapped()">
            <ion-label>Pair wearable device</ion-label>
          </ion-item>
          <ion-item (click) = "onLogoutTapped()">
            <ion-label>Log out</ion-label>
          </ion-item>
      </ion-list>
    </ion-card>
  </div>




</ion-content>