<ion-content class="profile">
  <div class="profile-header">
    <ion-card>
      <ion-card-content>
        <div class="profile-avatar">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <h1>{{ userName }}</h1>
        </div>
        <div class="profile-info">
          <ion-row>
            <ion-col size="4" style="border-right: 1px solid black;">
              <p class="info-bold">{{ age }}</p>
              <p>Years</p>
            </ion-col>
            <ion-col size="4" style="border-right: 1px solid black;">
              <p class="info-bold">{{ height }} m</p>
              <p>Height</p>
            </ion-col>
            <ion-col size="4">
              <p class="info-bold">{{ weight}} kg</p>
              <p>Weight</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>